.workspace-site .download-left img {
    width: 75%;
    margin-top: -25%;
}

.workspace-site .download-section {
    background-color: var(--whiteClr);
    padding-left: 25px;
    box-shadow: 0px 2px 19px var(--lightBlack);
    border: 1px solid var(--lightBlack);
    border-radius: 8px;
}

.workspace-site .download-right {
    padding: 10px 30px 10px 10px;
}

.workspace-site .download-right p {
    color: var(--grayFive);
    margin-bottom: 25px;
}

.workspace-site .download-section .row {
    align-items: center;
}

.workspace-site .store-buttons {
    gap: 30px;
}

.workspace-site .download-section {
    margin-top: 15%;
}